<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="home"></ion-icon>
            <ion-label>Películas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="search"></ion-icon>
            <ion-label>Buscar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="star-outline"></ion-icon>
            <ion-label>Favoritas</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
