<ion-content color="light">
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Nuevas Películas</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Cartelera</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Populares</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slideshow-pares [peliculas]="peliculasPopulares"
                        (cargarMas)="cargarMas()"></app-slideshow-pares>
</ion-content>
